[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "Kernel sources for Asus SDM660? platform devices. "
[access "refs/*"]
	owner = group user/Kunmun (ElectroPerf)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Kunmun (ElectroPerf)
	label-Verified = -1..+1 group user/Kunmun (ElectroPerf)
	push = group user/Kunmun (ElectroPerf)
	read = group user/Kunmun (ElectroPerf)
	rebase = group user/Kunmun (ElectroPerf)
	removeReviewer = group user/Kunmun (ElectroPerf)
	submit = group user/Kunmun (ElectroPerf)
[access "refs/heads/*"]
	create = group user/Kunmun (ElectroPerf)
	push = +force group user/Kunmun (ElectroPerf)
	pushMerge = group user/Kunmun (ElectroPerf)
	read = group user/Kunmun (ElectroPerf)
[access "refs/tags/*"]
	push = group user/Kunmun (ElectroPerf)
	push = +force group user/Kunmun (ElectroPerf)
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
